[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
bcrypt = "*"
email-validator = "*"
python-multipart = "*"
passlib = "*"
pyjwt = "*"
psycopg2 = "*"
psycopg2-binary = "*"
SQLAlchemy = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.9"
